.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.flex-body {
    height: auto;
    min-width: 70%;
    margin: 0 auto;
}

.home {
    background: #ffffff;
    height: 100%;
    margin: 0 auto;
}

.box-shadow {
    margin-top: 60px;
}
