.range {
    margin-left: 10px;
    min-width: 90%;
    -webkit-appearance: none;
    background-color: transparent;
}

.range:focus {
    outline: none;
}

.range::-webkit-slider-runnable-track {
    background: #015CC8;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 !important;
    cursor: pointer;
    height: 6.4px;
    margin-top: 2px;
    width: 100%;
}

.range::-moz-range-track {
    background: #015CC8;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 !important;
    cursor: pointer;
    height: 6.4px;
    margin-top: -10px;
    width: 100%;
}

.range::-ms-track {
    background: #015CC8;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 !important;
    cursor: pointer;
    height: 6.4px;
    margin-top: -10px;
    width: 100%;
}

.range::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #015CC8 !important;
    cursor: pointer;
    margin-top: -5px !important;
    -webkit-appearance: none;
}

.range::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #015CC8 !important;
    cursor: pointer;
    margin-top: -5px !important;
}

.range::-ms-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #015CC8 !important;
    cursor: pointer;
    margin-top: -5px !important;
}